/* Home */
#home {
    display: flex;
    min-height: calc(100vh - 92px);
    position: relative;
    align-items: flex-start;
    padding-top: 5%;
  }

#cta {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    text-align: justify;
    text-justify: inter-word;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-9);
    text-wrap: nowrap;
}

#cta .title span {
    color: var(--color-primary-1);
}

#cta .description {
    font-size: 1.2rem;
}

#cta-buttons {
    display: flex;
    gap: 24px;
}

#cta-buttons a {
    text-decoration: none;
    color: var(--color-neutral-0);
}

#cv-button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-primary-2);
    padding: 8px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: background-color 0.5s ease; 
}

#cv-button button a {
    box-shadow: none;
    text-decoration: none;
    color: var(--color-neutral-0);
    font-size: 1.2rem;
}

#cv-button:hover {
    background-color: var(--color-primary-1);
}

#banner {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    width: 60%;
    height: fit-content;
  }

#banner img {
    height: max-content;
    width: fit-content;
    border-radius: 50px;
}

@media screen and (max-width: 1300px) {
    #cta .title {
        font-size: 3.3rem;
    }
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #cta .title {
        font-size: 2.5rem;
        text-wrap: wrap;
    }

    #cta .description {
        font-size: 1rem;
    }
}