/* Home */
#home {
    display: flex;
    position: relative;
}

#cta {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    text-align: justify;
    text-justify: inter-word;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-9);
}

#cta .title span {
    color: var(--color-primary-1);
}

#cta .description {
    font-size: 1.2rem;
}

#cta-buttons {
    display: flex;
    gap: 24px;
}

#cta-buttons a {
    text-decoration: none;
    color: var(--color-neutral-0);
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 60%;
}

#banner img {
    height: max-content;
    width: fit-content;
    border-radius: 50px;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}